{% extends "layout.html.twig" %}
{% block body %}
{% if flash('error')%}
	<div class="alert alert-danger">
		{{flash('error')}}
	</div>
{% endif %}

<form action="{{path('auth.login')}}" method="post">
	{{csrf_input()}}
	{{ field('username',null,'Nom de l\'utilisateur')}}
	{{ field('password',null,'Mot de passe')}}
    <button class="btn btn-primary">Se connecter</button>
</form>
{% endblock %}
