{% extends 'layout.html.twig' %}
{% block title post.name %}

{% block body %}
	<h1>{{post.name}}</h1>
	{% if post.category_id %}
		<a href="{{ path('blog.category',{slug: post.category_slug}) }}" title="{{post.category_name}}">{{post.category_name}}</a>
	{% endif %}
	<p class="text-muted">{{post.created_at|ago}}</p>
	{{post.content|nl2br}}

{% endblock %}
