{% extends 'layout.html.twig' %}
{% block title post.name %}

{% block body %}
	<h1>{{post.name}}</h1>
	<p>
		{% if post.categoryId %}
			<a href="{{ path('blog.category',{slug: post.categorySlug}) }}" title="{{post.categoryName}}">{{post.categoryName}}</a>
		{% endif %}
	</p>
	<p class="text-muted">{{post.createdAt|ago}}</p>
	<p>
		{% if post.image %}
			<div class="card-header">
				<img src="{{post.imageUrl}}" alt="{{post.name}}" title="{{post.name}}" style="width:100%;"/>
			</div>
		{% endif %}
	</p>

	{{post.content|nl2br}}

{% endblock %}
